<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="TARGETDIR">
            <Directory Id="dirB6CDA1E12379676F896D50B2D7B0EDF3" Name="godaiquestserver" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="GroupGQS">
            <Component Id="cmpD1C9903DBD01FD4CD4E12B67D60E949D" Directory="dirB6CDA1E12379676F896D50B2D7B0EDF3" Guid="{363718F2-7A3D-4578-8625-AC1B30ACB7F9}">
                <File Id="fil3CC82FBBE4FE6D86250037E235F9DBE1" KeyPath="yes" Source="$(var.Install_data)\GodaiLibrary.dll" />
            </Component>
            <Component Id="cmpC961C6BD804F2CC9AC773FD502B46077" Directory="dirB6CDA1E12379676F896D50B2D7B0EDF3" Guid="{A852298D-53FC-45EA-B2CC-24C806D84115}">
                <File Id="fil06B774F29B36C8313BBEA5E7A3307FD0" KeyPath="yes" Source="$(var.Install_data)\GodaiQuestManual.pdf" />
            </Component>
            <Component Id="cmp70470DA7F7D0F886924219BF695C02EE" Directory="dirB6CDA1E12379676F896D50B2D7B0EDF3" Guid="{F9C289C1-9EC7-4127-A54F-CD5367519846}">
                <File Id="fil94414770B9E3E594B1531E81D4D086EA" KeyPath="yes" Source="$(var.Install_data)\GodaiQuestServer.exe" />
            </Component>
            <Component Id="cmp5E49DDB6A7343E16ACD4432AEFE5AE40" Directory="dirB6CDA1E12379676F896D50B2D7B0EDF3" Guid="{0732BFB5-FC7A-4C49-AA54-EA117C5DC7C8}">
                <File Id="filF39591923BDB29F00D8ABB12CFED07B7" KeyPath="yes" Source="$(var.Install_data)\MongoDB.Bson.dll" />
            </Component>
            <Component Id="cmp804022CF58D1C40C8E12020641DDFEC2" Directory="dirB6CDA1E12379676F896D50B2D7B0EDF3" Guid="{29DCF820-8228-48A1-901D-F8985E0BC02E}">
                <File Id="fil48DF330DA0B07E655E57584BEDEDC5D1" KeyPath="yes" Source="$(var.Install_data)\MongoDB.Driver.dll" />
            </Component>
            <Component Id="cmp2AD49B232616EECFDA6677B15D40A032" Directory="dirB6CDA1E12379676F896D50B2D7B0EDF3" Guid="{418FD59D-09A9-4606-87C0-91EFFCB60C9C}">
                <File Id="fil785B9689FBA9EEE4AE8466E3E99390FB" KeyPath="yes" Source="$(var.Install_data)\Monster.txt" />
            </Component>
            <Component Id="cmp94BE632652B56D40D5EF3105D7BB0846" Directory="dirB6CDA1E12379676F896D50B2D7B0EDF3" Guid="{BC785F89-E5F1-4816-95A3-0A9C130E4A1B}">
                <File Id="filD004D20F7EEAEDDC4F9A78A5EE3F8283" KeyPath="yes" Source="$(var.Install_data)\protobuf-net.dll" />
            </Component>
            <Component Id="cmpB065D72638FF6A34B6AF0DFE7C697A12" Directory="dir39B6BCB59490552D5AF711572D7A33CB" Guid="{03D6AA7A-88F8-45DC-A6B1-7786A6742330}">
                <File Id="fil4F33CB967E3DA711C49F71CDCCB4FFA1" KeyPath="yes" Source="$(var.Install_data)\MonsterImage\snow1.jpg" />
            </Component>
            <Component Id="cmpBAC021F421B47035F1AF8790E17C17B5" Directory="dir39B6BCB59490552D5AF711572D7A33CB" Guid="{8A7CC75B-A729-4E11-9560-0FD151338C6A}">
                <File Id="filF09D8C980A95576FAF86F286594C076B" KeyPath="yes" Source="$(var.Install_data)\MonsterImage\snow2.jpg" />
            </Component>
            <Component Id="cmpE7C17D755A6DCA573582367DB2B6E935" Directory="dir39B6BCB59490552D5AF711572D7A33CB" Guid="{0282333D-F904-4FB0-90EA-C2324D568894}">
                <File Id="filA92CB15A24FB74A24326AC9D92D0F767" KeyPath="yes" Source="$(var.Install_data)\MonsterImage\snow_plant1.jpg" />
            </Component>
            <Component Id="cmp4C9779F8CE8E755ED3FE9F186A6D7C6F" Directory="dir39B6BCB59490552D5AF711572D7A33CB" Guid="{53B484A8-708F-4119-8CB2-6BA1495FB634}">
                <File Id="fil4015F3A9FF925BC7AA91F7AD04C06E9E" KeyPath="yes" Source="$(var.Install_data)\MonsterImage\train1.jpg" />
            </Component>
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirB6CDA1E12379676F896D50B2D7B0EDF3">
            <Directory Id="dir39B6BCB59490552D5AF711572D7A33CB" Name="MonsterImage" />
        </DirectoryRef>
    </Fragment>
</Wix>