<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="TARGETDIR">
            <Directory Id="dir9A763CFF3E1E7E698A47743CE5F2FCE9" Name="GodaiQuestServer" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="GroupGQS">
            <Component Id="cmpA81E7E61218BF4D5A4E1FCB9EB9854A7" Directory="dir9A763CFF3E1E7E698A47743CE5F2FCE9" Guid="{8E96B1D5-4D29-4CBE-A1B6-1D84B3DD6D62}">
                <File Id="fil37A58D3BFEFBEA8AF578821ECB7D3168" KeyPath="yes" Source="$(var.Install_data)\GodaiLibrary.dll" />
            </Component>
            <Component Id="cmpBE68CA7F95D0897FA252B1F93F5E4819" Directory="dir9A763CFF3E1E7E698A47743CE5F2FCE9" Guid="{3796E272-F06A-4772-859D-72AF6E386AAD}">
                <File Id="filDA0EF9283B7B9CD131BD727D31835923" KeyPath="yes" Source="$(var.Install_data)\GodaiQuestManual.pdf" />
            </Component>
            <Component Id="cmp5F086FBE5F8F15A2743A7C1C0A3F8B0F" Directory="dir9A763CFF3E1E7E698A47743CE5F2FCE9" Guid="{517170B8-F508-4FD6-9D25-087C533D86A6}">
                <File Id="fil39B3263A3E31EB0BAD998FC952A3C188" KeyPath="yes" Source="$(var.Install_data)\GodaiQuestServer.exe" />
            </Component>
            <Component Id="cmp749469626AE48623E8305FA426E76F6D" Directory="dir9A763CFF3E1E7E698A47743CE5F2FCE9" Guid="{8F4B24ED-AD80-4924-B7F2-D2483FC6255F}">
                <File Id="fil8C296180904E73FD9BC9F361680E45CB" KeyPath="yes" Source="$(var.Install_data)\MongoDB.Bson.dll" />
            </Component>
            <Component Id="cmp90FE0BB98C6F5969C665BA51D8C39B98" Directory="dir9A763CFF3E1E7E698A47743CE5F2FCE9" Guid="{56E989F1-1322-47B0-A36B-2D8C4FAD0F82}">
                <File Id="fil9A46A31A298E217E9EA118257242A711" KeyPath="yes" Source="$(var.Install_data)\MongoDB.Driver.dll" />
            </Component>
            <Component Id="cmpD4113EB50FC104F030E662F932665095" Directory="dir9A763CFF3E1E7E698A47743CE5F2FCE9" Guid="{8F550696-10A1-4ECE-BBD8-F59E53615147}">
                <File Id="filE1FF3AA7F69D1DD60DFE065AD73CB23A" KeyPath="yes" Source="$(var.Install_data)\Monster.txt" />
            </Component>
            <Component Id="cmpA473AEE89C89146663048DC1B26D9F2C" Directory="dir9A763CFF3E1E7E698A47743CE5F2FCE9" Guid="{6ABB426A-BECF-4B66-A5A6-6EEB66CA08C0}">
                <File Id="filB6F84C68C10DD18CF163B718940B72C9" KeyPath="yes" Source="$(var.Install_data)\protobuf-net.dll" />
            </Component>
            <Component Id="cmpA866E0403EF913F98EB43542094925DD" Directory="dir55E66057CDAC8356718C1568C47669F2" Guid="{0F5F7FE7-F295-4E76-8CCD-BBC0BB94F174}">
                <File Id="fil2EE7BD62566B0131F7FA776B7237E40D" KeyPath="yes" Source="$(var.Install_data)\MonsterImage\snow1.jpg" />
            </Component>
            <Component Id="cmpC1A8590BA8877ED38728ECEF1515D891" Directory="dir55E66057CDAC8356718C1568C47669F2" Guid="{E42B5618-E843-448E-9244-2331307DA7B7}">
                <File Id="filF178943F3EF3AAE953A06B8E400172D6" KeyPath="yes" Source="$(var.Install_data)\MonsterImage\snow2.jpg" />
            </Component>
            <Component Id="cmp73D71D60AAA46D70E23EEFE8116FAE06" Directory="dir55E66057CDAC8356718C1568C47669F2" Guid="{7659BAB2-2A03-4473-B1B8-BA7529C4811C}">
                <File Id="filEFDAC774E510DDEA65DF578FD0C82B4A" KeyPath="yes" Source="$(var.Install_data)\MonsterImage\snow_plant1.jpg" />
            </Component>
            <Component Id="cmpE6ADD20DF8B3F19F29C311D9A3078FBE" Directory="dir55E66057CDAC8356718C1568C47669F2" Guid="{F05D5619-6CFC-4DC0-A110-EAB255C7C610}">
                <File Id="filDAE21E4B1DDDCF3E9D3F159F825BF3E7" KeyPath="yes" Source="$(var.Install_data)\MonsterImage\train1.jpg" />
            </Component>
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir9A763CFF3E1E7E698A47743CE5F2FCE9">
            <Directory Id="dir55E66057CDAC8356718C1568C47669F2" Name="MonsterImage" />
        </DirectoryRef>
    </Fragment>
</Wix>