<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:fire="http://schemas.microsoft.com/wix/FirewallExtension">
	<Product Id="*" Name="Godai Quest サーバー" Language="1041" Version="1.0.0.0" Manufacturer="oniprog" UpgradeCode="ae1828ce-ba51-4db4-b6dd-010996d88385" Codepage="utf-8">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine"/>

		<MajorUpgrade DowngradeErrorMessage="新しいバージョンの [ProductName] がすでにインストールされています" />
		<MediaTemplate EmbedCab="yes"/>

		<Feature Id="ProductFeature" Title="Godai Questサーバー" Level="1">
            <ComponentGroupRef Id="GroupGQS"/>
			<ComponentRef Id ="CMP_ShortcutsExe"/>
		    <!-- Open Firewall -->
			<Component Id="CMP_FireWall" Guid="DC5FDEC1-8DD6-4DD2-A016-B55F2DE624B8" Directory="MongoDBFolder">
				<fire:FirewallException Scope="any" Name="GodaiQuest" Id="FireWallGQ" File="fil39B3263A3E31EB0BAD998FC952A3C188" Port="21014" Protocol="tcp"/>
				<RegistryValue Root="HKCU" Key="Software\oniprog\GodaiQuestServer" Name="firewall" Type="integer" Value="1" KeyPath="yes"/>
			</Component>
		</Feature>
	</Product>

	<Fragment>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <!--<Directory Id="INSTALLFOLDER" Name="GodaiQuestServer"/> -->
            <Directory Id="ProgramMenuFolder">
                <Directory Id="MyShortcutsDir" Name="GodaiQuestServer"/>
            </Directory>
			<Directory Id="MongoDBFolder" Name="data">
				<Directory Id="MongoDBFolder2" Name="db"/>
			</Directory>
		</Directory>
	</Fragment>

    <Fragment>
        <DirectoryRef Id="MyShortcutsDir">
            <Component Id="CMP_ShortcutsExe" Guid="F224D0DF-6854-4D8D-97E0-31796C7FF6AB">
				<Shortcut Id="SHORTCUT_Exe" Name="GodaiQuest Server" Description="Godai Questのサーバです" Target="[INSTALLFOLDER]GodaiQuestServer.exe"/>
				<RemoveFolder Id="MyShortcutsDir" On="uninstall"/>
				<RegistryValue Root="HKCU" Key="Software\oniprog\GodaiQuestServer" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
            </Component>
        </DirectoryRef>

        <UIRef Id="WixUI_FeatureTreeCustom"/>

    </Fragment>

    <Fragment>
		<!-- WiX\src\ext\UIExtension\wixlibからコピーしてカスタマイズ -->
        <CustomAction Id="OpenMongoDBPage" Script="vbscript" >
            <![CDATA[
				CreateObject("WScript.Shell").Run("http://www.mongodb.org/downloads")
            ]]>
        </CustomAction>
        <CustomAction Id="CreateMongoDBFolder" Script="vbscript" >
            <![CDATA[
				CreateObject("Scripting.FileSystemObject").CreateFolder "c:\data"
				CreateObject("Scripting.FileSystemObject").CreateFolder "c:\data\db"
			]]>
        </CustomAction>
        <UI Id="WixUI_FeatureTreeCustom">

            <Dialog Id ="MongoDBDlg" Width="400" Height="400" Modeless="no" Title="MongoDBについての説明">
                <Control Id="OK" Type="PushButton" TabSkip="no" Text="OK" X="250" Y="360" Width="80" Height="20">
                    <Publish Event="NewDialog" Value="CustomizeDlg"/>
                </Control>
<!--                <Control Id="CreateFolder" Type="PushButton" X="20" Y="360" Width="160" Height="30" Text="c:\data\dbフォルダ作成" TabSkip="no">
                   <Publish Event="DoAction" Value="CreateMongoDBFolder"/> 
                </Control> -->
                <Control Id="OpenHTML" Type="PushButton" X="80" Y="360" Width="130" Height="20" Text="MongoDBのページを開く" TabSkip="no">
                   <Publish Event="DoAction" Value="OpenMongoDBPage"/> 
                </Control>
                <Control Id="Info" Type="ScrollableText" Width="300" Height="300" X="50" Y="50" Sunken="yes">
                   <Text SourceFile="readme_MongoDB.rtf"/> 
                </Control>
            </Dialog>

            <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
            <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
            <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />

            <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
            <Property Id="WixUI_Mode" Value="FeatureTree" />

            <DialogRef Id="ErrorDlg" />
            <DialogRef Id="FatalError" />
            <DialogRef Id="FilesInUse" />
            <DialogRef Id="MsiRMFilesInUse" />
            <DialogRef Id="PrepareDlg" />
            <DialogRef Id="ProgressDlg" />
            <DialogRef Id="ResumeDlg" />
            <DialogRef Id="UserExit" />

            <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>

            <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="MongoDBDlg">NOT Installed</Publish>
            <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg">Installed AND PATCH</Publish>

			<!--
            <Publish Dialog="LicenseAgreementDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg">1</Publish>
            <Publish Dialog="LicenseAgreementDlg" Control="Next" Event="NewDialog" Value="CustomizeDlg">LicenseAccepted = "1"</Publish>
			-->

            <Publish Dialog="CustomizeDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg" Order="1">Installed</Publish>
            <Publish Dialog="CustomizeDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2">NOT Installed</Publish>
            <Publish Dialog="CustomizeDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>

            <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="CustomizeDlg" Order="1">NOT Installed OR WixUI_InstallMode = "Change"</Publish>
            <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg" Order="2">Installed AND NOT PATCH</Publish>
            <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="3">Installed AND PATCH</Publish>

            <Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog" Value="MaintenanceTypeDlg">1</Publish>

            <Publish Dialog="MaintenanceTypeDlg" Control="ChangeButton" Event="NewDialog" Value="CustomizeDlg">1</Publish>
            <Publish Dialog="MaintenanceTypeDlg" Control="RepairButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
            <Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
            <Publish Dialog="MaintenanceTypeDlg" Control="Back" Event="NewDialog" Value="MaintenanceWelcomeDlg">1</Publish>
        </UI>
		<UIRef Id="WixUI_Common" />
        <WixVariable Id="WixUIBannerBmp" Value="banner.bmp" />
        <WixVariable Id="WixUIDialogBmp" Value="dialog.bmp" /> 
    </Fragment>
</Wix>