body {
  padding: 50px;
}

h1 {
    font-size:32pt;text-shadow: 1px 1px 2px #0000ff;
    color: #c0c000;
    border-style: none none none none;
}

h2 {
    text-shadow: 1px 1px 1px #0000ff;
    color: #c0c000;
    border-style: none none solid;
}

#small {
    font-size:12pt;
}

#box {
    font-size:14pt;
    padding:10px 10px;
    border-style: inset;
    background: #e0e0e0;
}
.loginbutton {
    width:400px;
}

.error_message {
    border-style: solid;
    color : #ff0000;
    width:520px;
    padding:10px;
}

.loginbox {
    border-style: solid;
    width:530px;
}


