body {
  padding: 50px;
}

h1 {
    font-size:32pt;text-shadow: 1px 1px 2px #0000ff;
}

#small {
    font-size:12pt;
}

#box {
    font-size:14pt;
    padding:10px 10px;
    border-style: solid;
}
.loginbutton {
    width:400px;
}

.error_message {
    border-style: solid;
    color : #ff0000;
    width:520px;
    padding:10px;
}

.loginbox {
    border-style: solid;
    width:530px;
}


