# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

GodaiLibrary/bin
GodaiLibrary/obj
*.suo
*~
GodaiLibrary/godaiquest.c
GodaiQuestServer/bin/Debu
*.dll
*.exe
*.pdb
*.manifest
*.pdb
*.xml
*.config
important_data
GodaiQuestServer/obj
bin/Debug/
obj/
nodejs/public/download/
