extends ./layout.jade

-var title = "Godai Quest Login Page";

block content
    h2 ログイン画面 &nbsp; &nbsp;
      A.small(href="register_user") 新規ユーザ登録
    div#loginbox
      form(name="login", action="login", method="post")
        p メールアドレス:
        
          input(type="text", name="mailaddress", size="60")
        p パスワード : &nbsp; &nbsp; &nbsp;
        
          input(type="password", name="password", size="60")

        input(type="reset")
        input.loginbutton(type="submit", value="login")
      br
