extends ./layout.jade

-var title = "Godai Quest Info";

block content
    if iteminfo
      - var aitem = iteminfo[info_id];
        div#box
          - var lines = aitem.header_string.split("\n");
          each line in lines
            div #{line} &nbsp;
          br
          br
        br
        br
        
    br
    br
