extends ./layout.jade

-var title = "Godai Quest Info List";

block content
    h2 #{name}さんの未読情報 &nbsp; &nbsp;
      a(href="user_list") 戻る

    if before || next
      div.box2
        if before 
          A(href="info_list?view_id="+view_id+"&index="+(+index-pagesize)) <<戻る
        if next 
          A(href="info_list?view_id="+view_id+"&index="+(+index+pagesize)) 進む>> 

    if iteminfo
      each aitem in iteminfo
        div.box
          - var lines = aitem.header_string.split("\n");
          - var cnt = 0; for( var it in lines ) { if (lines[it].length>0 ) ++cnt; if ( cnt > 5 ) break; 
            div.text #{lines[it]}
          - }
          br
          br
          a(href="info?view_id="+view_id+"&info_id="+aitem.item_id) 読む
        br
        br
        
    br
    br

    if !allinfo
      div
        a(href="info_list_all?view_id="+view_id) 全部の書き込みを表示する