doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 GodaiQuest
      span#small 　　　新感覚 情報共有 SNS

    if error_message
       div
         p.error_message=error_message

    block content